body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

select, button {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FFD60A;
  margin: 10px;
}

button {
  background: #FFD60A;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #000;
  color: #FFD60A;
}
